@import "bootstrap/dist/css/bootstrap.css";
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
}
.nav-link {
  background-color: #f2f8fe;
  border-radius: 10px;
  color: #19d6ff !important;
}
.nav-link:hover {
  background-color: #19d6ff;
  border-radius: 5px;
  border-radius: 10px;
  color: #f2f8fe !important;
}
.header {
  background-color: #f2f8fe !important;
}
.imageSignUp {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.header1 {
  background-color: #e3e3e3;
}
.inputBox {
  position: relative;
  display: flex;
}

.inputBox span {
  position: absolute;
  transition: 0.5s;
  padding: 0px;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(5px) translateY(-13px);
  font-size: 1em;
  margin-top: 0px !important;
  background-color: white;
  color: #20cdf2 !important;
  padding: 0px 5px;
}

.me {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.gradient-custom {
  background: #f6d365;

  background: -webkit-linear-gradient(
    to right bottom,
    rgb(101, 210, 246),
    rgb(103, 145, 234)
  );

  background: linear-gradient(
    to right bottom,
    rgb(101, 210, 246),
    rgb(103, 145, 234)
  );
}
